/* .navbar .dropdown-menu.animation {
  animation: slideInDown, fadeInDown;
  animation-duration: 0.6s;
  --animate-delay: 0.2s;
} */

.navbar .dropdown-menu.animation {
  animation: slideInUp, fadeInUp;
  animation-duration: 0.6s;
  --animate-delay: 0.2s;
}
