@import url("animation.css");
@import url("media.css");
/* ----------------------------------------------------------------

TABLE OF CONTENTS

	01 Global
	02 Navbar
	03 Header
	04 About
	05 Services
	06 Portfolio
	07 Clients
	08 Counter
	09 Blog
	10 Contact
	11 Responsive
		
---------------------------------------------------------------- */

/* -------------------------------------------------------
                     Global 
-------------------------------------------------------- */
:root {
  --main-color: #172f3b;
  --second-color: #3b2317;
  --text-dark-color: #222222;
  --text-white-color: #eee;
  --yellow-color: #ffa500;
  --gray-color: #808080;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

.navbar a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.hero-section {
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 50vh;
}

.hero-section h2 {
  color: var(--text-white-color);
  font-size: 9vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  text-wrap: nowrap;
}

.hero-section p {
  color: var(--text-white-color);
}
.main-title h3 {
  color: var(--text-dark-color);
  font-size: 2.5rem;
  text-transform: capitalize;
}
.main-title h3:after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
}

/* -------------------------------------------------------
                     Utilities 
-------------------------------------------------------- */

.bg-dark-blue {
  background-color: var(--main-color);
}

.bg-yellow-color {
  background-color: var(--yellow-color);
}

.btn-dark-blue {
  background-color: #2f5163 !important;
  transition: all 0.6s ease;
}

.btn-dark-blue:hover {
  background-color: #283f4b !important;
}

.bg-off-white {
  background-color: #f5f5f5;
}
/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .nav-item .nav-link {
  color: #ffff;
  transition: color 0.7s ease;
}

.navbar .nav-item .nav-link:hover,
.offcanvas-body .dropdown:hover .nav-link {
  color: #ffa500;
}
/* dropdown  */
.navbar .dropdown-menu {
  background-color: var(--text-white-color);
}

.navbar .dropdown-menu .dropdown-item {
  color: var(--text-dark-color);
  font-family: inherit;
  transition: background-color 0.3s;
  font-weight: 500;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgb(119, 119, 119, 0.2) !important;
}

.navbar .nav-item {
  margin: 0 20px;
}

.navbar .nav-link.active {
  color: var(--yellow-color);
}

/* -------------------------------------------------------
                   Events
-------------------------------------------------------- */
.hero-section.events {
  background-image: url("../imgs/bg-events.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.card-title {
  color: var(--text-dark-color);
}
.events .card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.6s ease;
}
.events .card:hover {
  transform: scale(1.06);
}

.line {
  width: 15%;
}
/* -------------------------------------------------------
                     footer 
-------------------------------------------------------- */
footer {
  background-color: var(--main-color);
}
footer img {
  width: 30px;
}

/* -------------------------------------------------------
                     contact us
-------------------------------------------------------- */
.hero-section.contact-us {
  background-image: url("../imgs/contactUs-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.contact-us .map-icons i {
  font-size: 20px;
  color: var(--text-dark-color);
  background-color: #e8e8e8;
  padding: 10px;
  margin-left: 10px;
  transition: all 0.4s ease;
}

.contact-us .map-icons a:hover i {
  background-color: #2f5163;
  color: var(--text-white-color);
}

.contact-us .address-detailes span {
  color: var(--text-dark-color);
}

.address-detailes i {
  color: var(--main-color);
}
.contact-us .map {
  position: relative;
}
.contact-us .map::before {
  content: "";
  position: absolute;
  left: -2px;
  height: 100%;
  border-left: 2px dotted #e8e8e8;
}

.contact-us .form label {
  color: var(--gray-color);
}

.contact-us .form .form-control:focus {
  background-color: #fff;
  border-color: var(--yellow-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255, 165, 0, 0.5);
}

/* -------------------------------------------------------
                about us
-------------------------------------------------------- */

.hero-section.about-us {
  background-image: url("../imgs/hero-about-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.about-us .story-img .img-layer img:first-child {
  top: -50px;
}
.about-us .story-img .img-layer img:last-child {
  bottom: -50px;
  right: 50px;
}
.about-us .story-img .img-layer img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.about-us .story-p p {
  font-size: 1.4rem;
  font-family: Montserrat, sans-serif;
  color: var(--text-dark-color);
  line-height: 1.6;
  font-weight: 500;
}

/* modal  */

/* Existing styles */
.thumbnail {
  cursor: pointer;
  margin: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Hide the body scroll when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom-in;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom-in;
  animation-duration: 0.6s;
}

/* Add new zoom-in animation */
@-webkit-keyframes zoom-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* -------------------------------------------------------
                        home
-------------------------------------------------------- */
.carousel-container {
  padding: 0; /* Remove padding */
  overflow: hidden; /* Ensure no overflow from the container */
}

/* Ensure the carousel takes up full width and height */
.carousel-container .owl-carousel .owl-item {
  position: relative;
  width: 100%;
}

.carousel-container .owl-carousel .owl-item img {
  width: 100%;
  height: 50vh; /* Set a fixed height */
  object-fit: cover; /* Cover the entire container */
  display: block; /* Ensure images are block elements */
}

/* Ensure the carousel itself takes up full width */
.carousel-container .owl-carousel {
  width: 100%;
  overflow: hidden; /* Ensure no overflow from the carousel */
}

.carousel-container .owl-dots {
  position: absolute;
  bottom: 20px; /* Adjust vertical position as needed */
  width: 100%;
  text-align: center;
}

.carousel-container .owl-dot {
  display: inline-block;
  margin: 0 5px; /* Adjust spacing between dots */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb; /* Default dot color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-container .owl-theme .owl-dots .owl-dot span {
  background: #d6d6d6;
}

.carousel-container .owl-carousel .owl-dots .owl-dot.active span {
  background-color: var(--yellow-color);
}

/* company-info  */

.company-info .content-circle {
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
  top: 0;
  background-color: rgba(198, 151, 45, 0.6);

  clip-path: circle(50% at left 50%);
  z-index: -1;
}

.img-layer {
  position: relative;
}

.main-img {
  width: 50%;
}

.overlay-img {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 50%;
  height: auto;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .overlay-img {
    top: 10%;
    left: 10%;
    width: 70%; /* Adjust for smaller screens */
  }
}

/* slider  */

.owl-carousel .item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area */
}

.slider-container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust the height as needed */
}
.slider-container .item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* product  */
.products-home .product-info .product-content .img-layer {
  background-color: rgb(33, 33, 33, 0.6);
  top: 100%;
  transition: top 0.5s ease;
}
.products-home .product-info .product-content p {
  color: #ffff;
}

.products-home .product-info .product-content .btn-blue {
  background-color: #168ccb;
  color: #ffff;
  transition: all 0.3s ease-in-out;
}
.products-home .product-info .product-content .btn-blue:hover {
  background-color: #1a506d;
  color: #ffff;
}

.products-home .product-info:hover .img-layer {
  top: 0;
  left: 0;
}

/* brands  */

.brands .brand-img img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area */
}

.brands .brand-img {
  display: flex;
  height: 150px; /* Adjust the height as needed */
}
.brands .brand-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.brands .brand-img img:hover {
  filter: grayscale(0%);
}

/* testimonial  */

.testimonial {
  overflow: hidden !important;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 48%,
    rgba(63, 128, 161, 1) 48%,
    rgba(23, 47, 59, 1) 95%
  );
}

.testimonial-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  margin: 20px;
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.testimonial img {
  max-width: 150px;
  border-radius: 5px;
}
.testimonial .content {
  max-width: 700px;
  margin-left: 40px;
}
.testimonial .quote {
  font-size: 1.2em;
  color: #555;
}
.testimonial .name {
  font-size: 1.5em;
  font-weight: bold;
}
.testimonial .title {
  color: #777;
  margin-bottom: 10px;
}
.testimonial .hashtag {
  font-weight: bold;
  color: #333;
}

.testimonial .img-layer {
  position: relative;
  z-index: 1111;
}

.testimonial .img-layer .img-frame {
  position: absolute;
  top: 10%;
  left: 10%;
  border: 5px solid #264e62;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
}
