/* navbar */

@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu.animation {
    display: block;
    margin-top: 0;
  }

  .dropend:hover .dropdown-menu.animation-end {
    display: block !important;
    position: absolute;
    left: 155px;
    top: 0px;
  }
}

/* about-us  */

@media only screen and (min-width: 768px) {
  .vertical-line-container {
    position: relative;
    height: 100%;
  }
  .vertical-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(
      to bottom,
      rgb(128, 128, 128, 0.7),
      rgb(128, 128, 128, 0.7) 2px,
      transparent 5px,
      transparent 10px
    );
  }
  .circle {
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(128, 128, 128, 0.6);
    border-radius: 50%;
    transform: translateX(-40%);
  }
}

@media only screen and (max-width: 600px) {
  .about-us .story-p p {
    font-size: 1.1rem !important;
  }
}

/* products  */

@media only screen and (max-width: 768px) {
  .cards .card::before {
    width: 150%;
    height: 170%;
    top: -90%;
    left: -90%;
  }
  .cards .card:hover::before {
    transform: rotate(90deg);
    top: -115%;
    left: -23%;
  }
}
